body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
}

.navbar {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #0d3f75;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-right: 15px;
}

.nav-btn:hover {
    background-color: #0056b3;
}

form input,
form select {
    padding: 6px;
    margin: 1px 0;
    width: 250px;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}