<!DOCTYPE html>
<html>

<head>
    <title>Airline Booking - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <h1>Welcome to Airline Ticket Booking</h1>
        <p>Select an option from the menu above.</p>
        <img style="width: 1200px; height: 400px;"
            src="https://www.lemax.net/wp-content/uploads/2018/04/flight-booking-software-fb.jpg" alt="Flight Booking"
            style="width: 100%; max-width: 800px; display: block; margin: 20px auto; border-radius: 10px;">

</body>

</html>