<div class="navbar">
    <a href="/" class="nav-btn">Home</a>
    <a href="/add" class="nav-btn">Add Airline</a>
    <a href="/book" class="nav-btn">Book Ticket</a>
    <a href="/details" class="nav-btn">Booking Details</a>
</div>